# i3 config file (v4)
# Please see https://i3wm.org/docs/userguide.html for a complete reference!

set $mod Mod4

set $refresh_i3status killall -SIGUSR1 i3status

set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

set $MON1 "DisplayPort-0"
set $MON2 "DisplayPort-1"

bindsym $mod+KP_Add      exec ~/.local/bin/brightness.sh $(~/.local/bin/i3-active-monitor.sh) +10
bindsym $mod+KP_Subtract exec ~/.local/bin/brightness.sh $(~/.local/bin/i3-active-monitor.sh) -10

# autostart
exec --no-startup-id MONITOR=$MON1 polybar big
exec --no-startup-id MONITOR=$MON2 polybar small
exec --no-startup-id bash -c "feh --bg-scale $(~/.local/bin/bing-wallpaper.sh)"

include base.inc
include startup.inc

#bar {
#        status_command i3status
#}
